*.un~
*.swp
tags
target
project/boot
.history
project.vim
*.old
.idea
.project
.classpath
.metadata/
.idea_modules/
chaptercode/
exercises/src/main/java/
exercises/src/test/java/
project/plugins.sbt
project/project/
